
body{
    /*background-color: #0B9BE3;*/
    background-color: rgb(147, 144, 144);
}
nav{
    /*background-color: #1770AB;*/
    background-color: rgb(106, 103, 103);
}
.footer{
    background-color: rgb(106, 103, 103);
}