body{
    background-color: #272a31;
    color: white;
}
nav{
    background-color: #ed7a03;
}

.logo{
    height: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.landscape{
    width: 30rem;
    height: 20rem;
}
.portrait{
    width: 15rem;
    height: 20rem;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: #ed7a03;
}